
*{
  margin: 0;
  padding: 0;
}

body{
  font-family: Arial, Helvetica, sans-serif;
}

header{
  width: 100%;
  height: 6rem;
  display: flex;
  background: rgb(228, 228, 228);
  justify-content: space-between;
}

.navbar{
  padding: 2rem;
}

.barraT{
  margin-left: 46.2%;
  display: flex;
  justify-content: center;
}

.link {
  outline: none;
  text-decoration: none;
  font-size: 1.5rem;
  padding: 1.5rem 1.5rem 0.2rem 1.5rem;
  color: black;
  margin: 0.3rem;
  font-family: open-sans;
}

.link:focus {
  border-bottom: 1px solid;
}

.link:hover {
  border-bottom: 0.2px solid;
  color: #1dad78;
}

.log {
  outline: none;
  text-decoration: none;
  color: #000000;
  font-size: 1.5rem;
  padding: 1rem 2rem 1rem 2rem;
  border-radius: 10px;
  background: #43b38a;
}

.log:focus {
  border-bottom: 1px solid;
}

.log:hover {
  padding: 1rem 2rem 1rem 2rem;
  border-radius: 10px;
  background: #1cd48d;
}

h1{
  padding: 1.5rem;
}

main{
  width: 100%;
}

.inicio{
  width: 100%;
  height: 50rem;
  background-size: cover;
  color: #1cd48d;
}


.Info{
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 0, 0);
  width: 118.9rem;
}
.d-block {
  width: 118.9rem;
  height: 60rem;
}
.lugares{
  width: 100%;
}

.Titulo{
  font-size: 6rem;
  display: flex;
  justify-content: center;
  padding-top: 13rem;
  text-shadow: 8px 8px 8px #000000;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.descrip{
  text-shadow: 8px 8px 8px #000000;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 3rem 10rem 0 10rem;
}

.tituloTestimonios{
  display: flex;
  font-size: 3rem;
  justify-content: center;
  padding-top: 5rem;
}

/* div cards cities */
.containerCards{
  display: flex;
  flex-wrap: wrap;
  padding: 5rem;
  justify-content: space-around;
}
/* cards cities */
.CardciudadIzquierda{
  width: 25rem;
  height: 30rem;
  margin-top: 3rem;
}

.CarddivImagen{
  border-radius: 2rem 2rem 0 0;
  width: 100%;
  height: 60%;
  overflow: hidden;
}


.CarddivInformacion{
  background: #49c296;
  height: 25%;
  display: flex;
  flex-direction: column;
  border-radius:  0 0 2rem 2rem;
}


.Cardtitulociudad{
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  font-size: 2rem;
}

.CardimagenciudadI{
  width: 100%;
  height: 100%;
  border-radius: 2rem 2rem 0 0;
  -webkit-transition: 1s linear;
  transition: 1s linear;
}
.CardimagenciudadI:hover {
  -webkit-transform:scale(1.15);
  transform:scale(1.15);
}

.Cardparrafotestimonios{
  font-size: 1.3rem;
  margin-left: 5rem;
  margin-top: 1rem;
}
.Cardparrafotestimonios2{
  font-size: 1rem;
  margin-left: 1.5rem;
  color: white;
  text-decoration: none;
}

/* link cards cities */
.Cardslog {
  outline: none;
  text-decoration: none;
  color: #000000;
  font-size: 1.5rem;
  padding: 1rem 2rem 1rem 2rem;
  border-radius: 10px;
  background: #1dad78;
}
.Cardslog:hover{
  background: #1cd48d;
}



/* cards testimony*/
.DivTestimonioss{
  background: rgb(228, 228, 228);
  /* height: 70rem; */
}
.DivCardTestimonios{
  display: flex;
  flex-wrap: wrap;
  padding: 5rem;
  justify-content: space-around;
}
.CardTestimonios{
  width: 25rem;
  height: 15rem;
  margin-bottom: 6rem;
}

.CardImagen{
  border-radius: 2rem 2rem 0 0;
  width: 100%;
  height: 70%;
  overflow: hidden;
  display: flex;
  background-color: #000000;
}
.CardH1P{
  display: flex;
  flex-direction: column;
}
.CardtituloTestimonio{
  color: rgb(255, 255, 255);
  font-size: 1.7rem;
}
.imagenTestimonio{
  width: 25%;
  height: 55%;
  border-radius: 10rem;
  margin-left: 1rem;
  margin-top: 2rem;
  -webkit-transition: 1s linear;
  transition: 1s linear;
}
.imagenTestimonio:hover {
  -webkit-transform:scale(1.15);
  transform:scale(1.15);
}
.CardInformacionTestimonio{
  background: #1dad78;
  height: 60%;
  padding: 1rem;
  border-radius:  0 0 2rem 2rem;
}

/* Cards testimony Page */
.TestimonioPagina{
  width: 50%;
  height: 50%;
}

.ciudadDerecha{
  width: 80rem;
  margin-left: 20rem;
  display: flex;
  justify-content: center;
  margin-top: 4rem;
  background: rgb(249 249 249);
  padding: 3rem;
}
.imagenciudadD{
  width: 25rem;
  margin-left: 3rem;
}

.titulociudadD{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.2rem;
}

.parrafociudadD{
  margin-top: 1rem;
  font-size: 1.3rem;
}

.personal{
  margin-top: 10rem;
  background: rgb(228, 228, 228);
}

.titulopersonas{
  display: flex;
  justify-content: center;
  padding-top: 4rem;
  font-size: 3rem;
}


.personas{
  width: 80rem;
  height: 40rem;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap ;
  margin-top: 5rem;
  margin-left: 17rem;
}

.persona1{
  width: 18rem;
  padding-left: 2rem;
}


.imagenpersona{
  width: 90%;
  height: 90%;
  margin: 0.7rem;
  border-radius: 2rem 2rem 0 0;
}

.persona{
  width: 19rem;
}

.info{
  padding-bottom: 2rem;
}

.titulopersona{
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: center;
}

/* Hr Pagina Inicio*/
.hrCardLugaresAVisitar{
  width: 33rem;
  height: 0.2rem;
  margin-left: 43rem;
  background-color: #1cd48d;
}
.hrTestimonios{
  width: 18rem;
  height: 0.2rem;
  margin-left: 50rem;
  background-color: #1cd48d;
}
.hrPersonal{
  width: 18rem;
  height: 0.2rem;
  margin-left: 50rem;
  background-color: #1cd48d;
}
.hrPersona{
  width: 8rem;
  height: 0.2rem;
  margin-left: 4rem;
  background-color: #1cd48d;
}



/* Hr Contenido */
.hrKit{
  width: 13rem;
  height: 0.2rem;
  margin-left: 52.5rem;
  background-color: #1cd48d;
}
.hrProductoKit{
  width: 9rem;
  height: 0.1rem;
  margin-left: 3rem;
  background-color: #1cd48d;
}
.hrDocumento{
  width: 30rem;
  height: 0.2rem;
  margin-left: 45rem;
  background-color: #1cd48d;
}
.barrita{
  border: none;
  border-left: 1px solid hsla(200, 10%, 50%,100);
  height: 3rem;
  width: 1px;
  margin-left: 30px;
  background-color: #1cd48d;
}
/* Hr Lugares a Visitar */
.hrLugaresVisitar{
  width: 40rem;
  height: 0.2rem;
  margin-left: 40rem;
  background-color: #1cd48d;
}



.rol{
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
}

.parrafopersona{
  text-align: justify;
  padding: 1rem;
}

.titulodocumentos{
  display: flex;
  justify-content: center;
  padding-top: 12rem;
  font-size: 3rem;
}

.documentos{
 display: flex;
 flex-direction: column;
 align-items: center;
 padding-bottom: 5rem;
 margin-top: 5rem;
}

.descargas{
  width: 40rem;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  padding: 2rem ;
  background: rgb(249 249 249);
}


.titulopermisos{
  font-size: 3rem;
  background-color: black;
}

.descarga{
  margin-left: 3rem;
  width: 10rem;
  /* color: aliceblue; */
  background: #1dad78;
  border-color: aliceblue;
}
.descargaDocumento{
  text-decoration: none;
  color: white;
}



@media only screen and (max-width: 1440px){
  header{
    width: 100%;
  }
  
  .navbar{
    padding: 2rem;
  }
  

  .link {
    outline: none;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 1.5rem 1.5rem 0.2rem 1.5rem;
    color: black;
    font-family: open-sans;
  }
  
  .link:focus {
    border-bottom: 1px solid;
  }
  
  .link:hover {
    border-bottom: 1px solid;
    color: green;
  }
  
  h1{
    padding: 1.5rem;
  }
}
.contenedor{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.wrapper{
  position: relative;
  width: 400px;
  height: 440px;
  border: 2px solid #00000080;
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: height .2s ease;
}

.wrapper.active{
  height: 600px;
}

.wrapper .form-box{
  width: 80%;
}


.wrapper .form-box.login{
  transition: transform .18s ease;
  transform: translateX(0);
}

.wrapper.active .form-box.login{
  transition: none;
  transform: translateX(-400px);
}

.wrapper .form-box.register{
  position: absolute;
  margin: 20rem;
  transition: none;
  transform: translateX(400px);
}

.wrapper.active .form-box.register{
  transition: transform .18s ease;
  transform: translateX(0);
}

.contRegister{
  display: none;
}

.wrapper .icon-close{
  position: absolute;
  top:0;
  right: 0;
  width: 45px;
  height: 45px;
  background:#162938 ;
  font-size: 1.7rem;
  color:white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 20px;
  cursor: pointer;
  z-index: 1;
}

.wrapper .icon-close:hover{
  background-color: #259b6e;
}

.form-box h2{
  font-size: 2rem;
  color: #162938;
  text-align: center;
}


.input-box{
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid #162938;
  margin: 30px 0;
}


.input-box label{
  position: absolute;
  left: 5px;
  top: 2rem;
  transform: translateY(-50%);
  font-size: 1rem;
  color: #162938;
  font-weight: bold;
  pointer-events: none;
  transition: .7s;
}

.input-box input:focus~label,
.input-box input:valid~label {
  top: -5px;
}


.input-box input{
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1rem;
  color:#162938;
  font-weight: bold;
  padding: 0 35px 0 5px;
}

.input-box .icon{
  position: absolute;
  right: 8px;
  font-size: 1.2rem;
  color: #162938;
} 

.remember-forgot{
  font-size: .9rem;
  color: #162938;
  font-weight: bold;
  margin: -15px 0 15px;
  display: flex;
  justify-content: space-between;
}

.remember-forgot label input{
  accent-color: #259b6e;
  margin-right: 3px;
}

.remember-forgot a {
  color: #162938;
  text-decoration: none;
}



.remember-forgot a:hover{
  text-decoration: underline;
}

.register-link{
  background: none;
  cursor: pointer;
  border: none;
  border-bottom: 1px solid;
  font-weight: bold;  
}

.login-link{
  background: none; 
  cursor: pointer;
  border: none;
  border-bottom: 1px solid; 
  font-weight: bold;   
}

.btn{
  width: 100%;
  height: 45px;
  background: #162938;
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
  color: #ffffff;
  font-weight: bold;
}

.btn:hover{
  background: #259b6e;
}


.login-register{
  font-size: .9rem;
  color: #162938;
  font-weight: bold;
  text-align: center;
  margin: 25px 0 10px;
}

.login-register p a{
  color: #162938;
  text-decoration: none;
  font-weight: bold;
}

.login-register p a:hover{
  text-decoration: underline;
}

.TituloGranA{
  outline: none;
  text-decoration: none;
  color: black;
  font-family: open-sans;
}


.Footer{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: rgb(228, 228, 228);
}

.redes{
  width: 18rem;
  border: 2px #1cd48d;
  height: 2rem;
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.facebook{
  max-width: 3.5rem; 
  display: flex;
  justify-content: center;
}

.instagram{
  max-width: 3.5rem;
  display: flex;
  justify-content: center;
}


.infoFooter{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1rem;
  color: gray;
}


/* Contenido */
.tituloKit{
  display: flex;
  justify-content: center;
  padding-top: 4rem;
  font-size: 3rem;
}



.Kits{
  background-color: rgb(236, 236, 236) ;
  width: 60rem;
  height: 23rem;
  display: flex;
  flex-direction: row;

  border-radius: 1rem;
  margin-top: 3rem;
  margin-left: 27rem;
}

.divImgKit{
  width: 50%;
  height: 90%;
  margin: 1rem;
}

.imagenkit{
  border-radius: 1rem;
  width: 100%;
  height: 100%;
}

.imagenkit:hover.imagenkit {
    -webkit-transform:scale(1.0);
    transform:scale(1.02);
}
.imagenkit {
  overflow:hidden;
}

.kit{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 6rem;
  /* padding-left: 1rem; */
}

.nombrekit{
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  margin-top: 6rem;
}

.desckit{
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  margin-top: 1rem;
  margin-left: 3rem;
}

.preciokit{
  color: #259b6e;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 2rem;
  margin-left: 12rem;
}

.btnComprar{
  width: 10rem;
  height: 3rem;
  background-color: #1dad78;
  color: #000000;
  border-radius: 1rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-top: 1rem;
  margin-left: 9rem;
  cursor: pointer;

}

.btnComprar:hover{
  background: #1cd48d;
}

.DivProductos{
  margin-left: 20rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80rem;
  margin-right: 20rem;
  margin-top: 3rem;
}

.producto{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-right: 5rem;
  margin-top: 2rem ;
  width: 15rem;
  height: 17rem;
  background: rgb(236, 236, 236);
  border-radius: 1rem;
}

.nombrekit{
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
}

.imgProducto{
  height: 70%;
}



.nombreProducto{
  height: 30%;
  text-align: center;
}

.nombreProductoh3{
  margin-top: 1rem;
  font-size: 1.3rem;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}


.add-photo-container input{
  display: none;
}

.btn-face{
  position: fixed;
  width: 55px;
  height: 55px;
  line-height: 65px;
  bottom: 8.5rem;
  right: 30px;
  background-color: rgb(0, 128, 255);
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 0px 1px 10px rgba(0,0,0,0,3);
  z-index:100;
  color: rgb(255, 255, 255);
  margin-top: 10rem;
}

.btn-wsp{
  position: fixed;
  width: 55px;
  height: 55px;
  margin-top: 49rem;
  /* right: 30px; */
  margin-left: 1rem;
  background-color: #008000;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 0px 1px 10px rgba(0,0,0,0,3);
  z-index:100;
  color: rgb(255, 255, 255);
}



.btn-insta{
  position: fixed;
  width: 55px;
  height: 55px;
  line-height: 65px;
  bottom: 15px;
  right: 30px;
  background:radial-gradient(circle at 33% 100%, #fed373 4%, #f15245 30%, #d92e7f 62%, #9b36b7 85%, #515ecf);
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 0px 1px 10px rgba(0,0,0,0,3);
  z-index:100;
  color: rgb(255, 255, 255);
  margin-top: 10rem;
}

.player-wrapper{
  width: 50%;
  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  border-radius: 10rem;
}

.section1{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


/* Lugares */
.lugares{
  width: 100%;
}
.titulolugares{
  display: flex;
  font-size: 3rem;
  justify-content: center;
  padding-top: 15rem;
}
.ciudadIzquierdaI{
  width: 80rem;
  margin-left: 20rem;
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  padding: 3rem;
}
.imagenciudadI{
  width: 25rem;
}

.titulociudadI{
  font-family: Arial, Helvetica, sans-serif;
  margin-left:4rem;
  font-size: 2.2rem;
}

.parrafociudadI{
  margin-left: 4rem;
  margin-top: 1rem;
  font-size: 1.3rem;
}


.ciudadDerecha{
  width: 80rem;
  margin-left: 20rem;
  display: flex;
  justify-content: center;
  margin-top: 4rem;
  background: rgb(249 249 249);
  padding: 3rem;
}
.imagenciudadD{
  width: 25rem;
  margin-left: 3rem;
}

.titulociudadD{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.2rem;
}

.parrafociudadD{
  margin-top: 1rem;
  font-size: 1.3rem;
}

/* Recuperacion Contraseña */
.divRecuperacion{
  display: flex;
  justify-content: center;
  margin-top: 13rem; 
}

.recuperacionContrasena{
  width: 50%;
  height: 30rem;
  background-size: contain;
  border: solid 1px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  box-shadow: 0 0 30px #000000;
}

.devolverRecuperacion{
  font-size: 2rem;
  position: absolute;
  margin-right: 45%;
  margin-top: 2rem;
  color: #000000;
}

.formRecuperacion{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.imgRecuperacion{
  width:9rem;
  height: 8rem;
  border-radius: 70px;
  margin-bottom: 3rem;
  margin-left: 9rem;
}

.h2Recuperacion{
  text-align: center;
  margin-bottom: 1rem;
}

.btnRecuperar{
  width: 30%;
  height: 2rem;
  margin-left: 9.5rem;
  border-radius: 10px;
  background: #162938;
  color: #fff;
  cursor: pointer;
  text-align: center;
}

.btnRecuperar:hover{
  background: #259b6e;
}

/* Compra Kits */

.modalCompra{
  background: #ffffff;
  width: 50%;
  height: 80%;
  margin: 6rem 0 0 30rem;
  border: solid 2px;
  border-radius: 1rem;
  box-shadow: 0 0 30px #000000;
}

.bodyCompra{
  display: flex;
  justify-content: center;
}

.cardCompra{
  width: 30rem;
  height:27rem;
  border: solid 2px #000000;
  border-radius: 10px;
  margin-top: 10rem;
  display: flex;
}

.tarjeta{
  padding: 1rem 0rem 1rem 2.5rem;
  overflow: hidden;
}


.divImgCompra{
  overflow: hidden;
  width: 100%;
  margin-left: 2.5rem;
}

.imgCiudadCompra{
  width: 25rem;
  border-radius: 10px;
  -webkit-transition: 1s linear;
  transition: 0.5s linear;
}

.precioCompra{
  text-align: center;
  margin-top: 1rem;
}

.btnConfirmCompra{
  width: 10rem;
  height: 3rem;
  background-color: #1dad78;
  color: #000000;
  border-radius: 1rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-left: 9rem;
  cursor: pointer;
}

.btnConfirmCompra:hover{
  background: #1cd48d;
}



/* Estilos del footer */

.footer-distributed{
	background: #666;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Open Sans', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  lightseagreen;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
  font-weight:400;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #222;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.site-footer{
  background-color: white;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#000000;
  margin-top: 3rem;
}
.site-footer hr{
  border-top-color:#000000;
  opacity:0.5
}
.site-footer hr.small{
  margin:20px 0
}
.site-footer h6{
  color:#000000;
  font-size:20px;
  text-transform:uppercase;
  margin-top:3px;
  letter-spacing:2px
}
.site-footer a{
  color:#000000;
}
.site-footer a:hover{
  color:#3366cc;
  text-decoration:none;
}
.footer-links{
  padding-left:0;
  list-style:none
}
.footer-links li{
  display:block
}
.footer-links a{
  color:#000000}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li{
  display:inline-block
}
.site-footer .social-icons{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}

/* reserve */
.form-box-Reserva{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 50%;
  margin-left: 30rem;
  margin-top: 5rem;
  border-radius: 2rem;
  border:solid #000000;
  background: rgb(228, 228, 228);
}
.tituloReserva{
  display: flex;
  justify-content: center;
  padding-top: 4rem;
  font-size: 3rem;
}
.HrReserva{
  width: 15rem;
  height: 0.2rem;
  margin-left: 52rem;
  background-color: #1cd48d;
}
.btnReserva{
  width: 20rem;
  height: 45px;
  background: #162938;
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
  color: #ffffff;
  font-weight: bold;
  margin-bottom: 2rem;
}
.btnReserva:hover{
  background: #149463;
}



/* Reserva de todo el paquete Modal*/
.reservaModal{
  background: #ffffff; 
  width: 80%;
  height: 55rem;
  display: flex;
  margin: 3rem 0 0 15rem;
  border: solid 2px;
  border-radius: 1rem;
  margin-bottom: 10rem;
  box-shadow: 0 0 30px #000000; 
}
.h1reservaModal{
  text-align: center;
}

.imagenReservaModal1{
  width: 70%;
  height: 30%;
  border-radius: 2rem 2rem 0 0;
  -webkit-transition: 1s linear;
  transition: 1s linear;
  margin-left: 14rem;
}

.h2reservaModal{
  text-align: center;
}
.p1reservaModal{
  text-align: center;
}
.radio2{
  cursor: pointer;
}
.radio1{
  cursor: pointer;
}
.FormGroup{
  display: flex;
}

.imagenBoletas{
  width: 80%;
  height: 100%;
  margin-left: 2rem;
  border-radius: 10px 10px 0 0;
}
.imagentransaccion{
  width: 40%;
  height: 100%;
  margin-left: 2rem;

}
.hrBoletas{
  border-radius: 10px 10px 0 0;
  border: none;
  border-left: 1px solid hsla(200, 10%, 50%,100);
  height: 3rem;
  width: 1px;
  margin-left: 30px;
  background-color: #1cd48d;
}
.formGroupBoletas{
  width: 35%;
  height: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 2px #000;
  border-radius: 10px;
  margin-left: 10rem;
}
.formGroupTransaccion{
  width: 35%;
  height: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 2px #000;
  border-radius: 10px;
  margin-left: 5rem;
}

.imgBoletas{
  width: 100%;
  height: 90%;
  margin-left: 2rem;
}

.radioBoletas{
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
}

.btnReservaTotal{
  width: 20rem;
  height: 45px;
  background: #162938;
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
  color: #ffffff;
  font-weight: bold;
  margin: 2rem 0 0 36rem;
}
.btnReservaTotal:hover{
  background: #199a68;
}

.devolverModal{
  font-size: 2rem;
  position: absolute;
  margin-left: 1rem;
  margin-top: 2rem;
  color: #000000;
}
